<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qnbc.venueReservation.mapper.BigtypeMapper">

    <resultMap type="com.qnbc.venueReservation.domain.Bigtype" id="BigtypeResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="image" column="image"/>
    </resultMap>

    <sql id="selectBigtypeVo">
        select id, name, remark, image
        from bigtype
    </sql>

    <select id="selectBigtypeList" parameterType="com.qnbc.venueReservation.domain.Bigtype" resultMap="BigtypeResult">
        <include refid="selectBigtypeVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="image != null  and image != ''">and image = #{image}</if>
        </where>
    </select>

    <select id="selectBigtypeById" parameterType="Long" resultMap="BigtypeResult">
        <include refid="selectBigtypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertBigtype" parameterType="com.qnbc.venueReservation.domain.Bigtype" useGeneratedKeys="true"
            keyProperty="id">
        insert into bigtype
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="remark != null">remark,</if>
            <if test="image != null">image,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
            <if test="image != null">#{image},</if>
        </trim>
    </insert>

    <update id="updateBigtype" parameterType="com.qnbc.venueReservation.domain.Bigtype">
        update bigtype
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="image != null">image = #{image},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBigtypeById" parameterType="Long">
        delete
        from bigtype
        where id = #{id}
    </delete>

    <delete id="deleteBigtypeByIds" parameterType="String">
        delete from bigtype where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
