<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qnbc.venueReservation.mapper.CommentMapper">

    <resultMap type="com.qnbc.venueReservation.domain.Comment" id="CommentResult">
        <result property="id"    column="id"    />
        <result property="addtime"    column="addtime"    />
        <result property="refid"    column="refid"    />
        <result property="userid"    column="userid"    />
        <result property="nickname"    column="nickname"    />
        <result property="content"    column="content"    />
        <result property="reply"    column="reply"    />
    </resultMap>

    <sql id="selectCommentVo">
        select id, addtime, refid, userid, nickname, content, reply from comment
    </sql>

    <select id="selectCommentList" parameterType="com.qnbc.venueReservation.domain.Comment" resultMap="CommentResult">
        <include refid="selectCommentVo"/>
        <where>
            <if test="addtime != null "> and addtime = #{addtime}</if>
            <if test="refid != null "> and refid = #{refid}</if>
            <if test="userid != null "> and userid = #{userid}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="reply != null  and reply != ''"> and reply = #{reply}</if>
        </where>
    </select>

    <select id="selectCommentById" parameterType="Long" resultMap="CommentResult">
        <include refid="selectCommentVo"/>
        where id = #{id}
    </select>

    <insert id="insertComment" parameterType="com.qnbc.venueReservation.domain.Comment" useGeneratedKeys="true" keyProperty="id">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addtime != null">addtime,</if>
            <if test="refid != null">refid,</if>
            <if test="userid != null">userid,</if>
            <if test="nickname != null">nickname,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="reply != null">reply,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="addtime != null">#{addtime},</if>
            <if test="refid != null">#{refid},</if>
            <if test="userid != null">#{userid},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="reply != null">#{reply},</if>
         </trim>
    </insert>

    <update id="updateComment" parameterType="com.qnbc.venueReservation.domain.Comment">
        update comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="addtime != null">addtime = #{addtime},</if>
            <if test="refid != null">refid = #{refid},</if>
            <if test="userid != null">userid = #{userid},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="reply != null">reply = #{reply},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCommentById" parameterType="Long">
        delete from comment where id = #{id}
    </delete>

    <delete id="deleteCommentByIds" parameterType="String">
        delete from comment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
