<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qnbc.venueReservation.mapper.FacultyStaffMapper">

    <resultMap type="com.qnbc.venueReservation.domain.FacultyStaff" id="FacultyStaffResult">
        <result property="id" column="id"/>
    </resultMap>

    <sql id="selectFacultyStaffVo">
        select id,staff_name
        from faculty_staff
    </sql>

    <select id="selectFacultyStaffList" parameterType="com.qnbc.venueReservation.domain.FacultyStaff"
            resultMap="FacultyStaffResult">
        <include refid="selectFacultyStaffVo"/>
        <where>
        </where>
    </select>

    <select id="selectFacultyStaffById" parameterType="Long" resultMap="FacultyStaffResult">
        <include refid="selectFacultyStaffVo"/>
        where id = #{id}
    </select>

    <insert id="insertFacultyStaff" parameterType="com.qnbc.venueReservation.domain.FacultyStaff">
        insert into faculty_staff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="staffName != null">staff_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="staffName != null">#{staffName},</if>
        </trim>
    </insert>

    <update id="updateFacultyStaff" parameterType="com.qnbc.venueReservation.domain.FacultyStaff">
        update faculty_staff
        <trim prefix="SET" suffixOverrides=",">
            <if test="staffName != null">staff_name = #{staffName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFacultyStaffById" parameterType="Long">
        delete
        from faculty_staff
        where id = #{id}
    </delete>

    <delete id="deleteFacultyStaffByIds" parameterType="String">
        delete from faculty_staff where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
